flows (1).json
[{"id":"69255906.4882b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"26e1c1e1.38785e","type":"mqtt in","z":"69255906.4882b8","name":"detectPIR","topic":"event/detectPIR","qos":"2","datatype":"auto","broker":"d654c336.0edeb","nl":false,"rap":true,"rh":0,"x":160,"y":160,"wires":[["bfeb5ebf.b1713","4180dc0e.191384","680539a4.b19088","ac2499a2.6111d8"]]},{"id":"bfeb5ebf.b1713","type":"debug","z":"69255906.4882b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":160,"wires":[]},{"id":"4180dc0e.191384","type":"ui_toast","z":"69255906.4882b8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"Notification Lampu","x":430,"y":120,"wires":[]},{"id":"680539a4.b19088","type":"ui_text","z":"69255906.4882b8","group":"f87816ed.9f6cb8","order":0,"width":0,"height":0,"name":"Text","label":"Lampu Nyala ?","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":220,"wires":[]},{"id":"bbcad2ef.dac28","type":"mqtt in","z":"69255906.4882b8","name":"detectPhotoresistor","topic":"event/detectphotoresistor","qos":"2","datatype":"auto","broker":"d654c336.0edeb","nl":false,"rap":true,"rh":0,"x":170,"y":400,"wires":[["6d92101b.7ed26"]]},{"id":"6d92101b.7ed26","type":"ui_chart","z":"69255906.4882b8","name":"","group":"9a7d31b.1e13dd","order":1,"width":"0","height":"0","label":"PhotoResistor Plot","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Yow","dot":false,"ymin":"50","ymax":"650","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#12629b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#481e57","#ff9896","#7022b9","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":450,"y":400,"wires":[[]]},{"id":"ac2499a2.6111d8","type":"ui_chart","z":"69255906.4882b8","name":"","group":"f87816ed.9f6cb8","order":1,"width":"0","height":"0","label":"Line Plot PIR","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"5","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#377aa9","#aec7e8","#b7875c","#2ca02c","#98df8a","#d62728","#ff9896","#7022b9","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":410,"y":260,"wires":[[]]},{"id":"73eff5d4.2cf6fc","type":"mqtt in","z":"69255906.4882b8","name":"","topic":"event/potentioMeter","qos":"2","datatype":"auto","broker":"d654c336.0edeb","nl":false,"rap":true,"rh":0,"x":170,"y":320,"wires":[["b004ca96.1bd188"]]},{"id":"b004ca96.1bd188","type":"ui_gauge","z":"69255906.4882b8","name":"PotentioMeterGauge","group":"5945bca6.b14344","order":3,"width":0,"height":0,"gtype":"wave","title":"PotentioMeterVal","label":"","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":480,"y":320,"wires":[]},{"id":"9589d651.f5fb98","type":"mqtt in","z":"69255906.4882b8","name":"","topic":"event/detectRelayOutput","qos":"2","datatype":"auto","broker":"d654c336.0edeb","nl":false,"rap":true,"rh":0,"x":200,"y":500,"wires":[["a64970bb.7d112"]]},{"id":"a64970bb.7d112","type":"ui_text","z":"69255906.4882b8","group":"f3a6c172.855bd","order":0,"width":0,"height":0,"name":"","label":"Pemberitahuan :","format":"{{msg.payload}}","layout":"row-left","x":480,"y":500,"wires":[]},{"id":"d654c336.0edeb","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f87816ed.9f6cb8","type":"ui_group","name":"PIR Sensor Dashboard","tab":"b97886ff.f7a6b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"9a7d31b.1e13dd","type":"ui_group","name":"AnotherChart","tab":"b97886ff.f7a6b8","order":2,"disp":true,"width":"6","collapse":false},{"id":"5945bca6.b14344","type":"ui_group","name":"GaugeLevel","tab":"b97886ff.f7a6b8","order":3,"disp":true,"width":"6","collapse":false},{"id":"f3a6c172.855bd","type":"ui_group","name":"Relay Output","tab":"b97886ff.f7a6b8","order":4,"disp":true,"width":"6","collapse":false},{"id":"b97886ff.f7a6b8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]